@charset 'utf-8';

/* reset for pc */
.mobile {display: none !important;}
br.only-m {content: '';}
br.only-m::after {content: ' ';}


/* 전역 변수 설정 */
:root {
  --header-height: 80px;
}


/* common (include, layout) */
body {font-family: 'HanSansNeo', '나눔고딕', 'NanumGothic', '맑은 고딕', 'malgun gothic', '돋움', Dotum, 'Apple SD Gothic Neo', Helvetica, sans-serif; font-weight: 400; font-size: 14px; color: #1b2529 ; background: #ffffff;}
#wrapper {min-width: 1024px; overflow: hidden;}
#wrapper.mask {height: 100vh;}
#wrapper.mask::after {content: ''; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.3); z-index: 100;}
#skip-nav {position: fixed; left: 0; top: -40px; width: 100%; line-height: 40px; text-align: center; background-color: rgba(0, 0, 0, 0.6); color: #ffffff; font-size: 16px; transition: top 0.3s; z-index: 100000;}
#skip-nav:focus {top: 0;}

#header {position: relative; height: var(--header-height); background-color: #ffffff; border-bottom: 1px solid #e8ecee; z-index: 1000;}
#header > div.container {position: relative; max-width: 1400px; height: 100%; margin: 0 auto;}
#header h1 {position: absolute; left: 0; top: 50%; transform: translate(0, -50%);}
#header h1 * {display: block;}
#header span.bg {content: ''; position: absolute; left: 0; top: calc(100% + 1px); width: 100%; height: 0; background-color: #ffffff; box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);}
#wrapper.mask #header {z-index: initial;}

#gnb {position: absolute; left: 160px; top: 0; font-size: 16px; font-weight: 700;}
#gnb a {transition: color 0.3s; display: block;}
#gnb li.on > a,
#gnb a:hover {color: #00a8e3;}
#gnb > ul > li {float: left;}
#gnb > ul > li + li {margin-left: 40px;}
#gnb > ul > li > a {display: block; position: relative; height: 100%; line-height: calc(var(--header-height) - 1px);}
#gnb > ul > li > a::after {content: ''; position: absolute; left: 50%; bottom: 0; transform: translate(-50%, 0); width: 0; height: 2px; background-color: #00a8e3; transition: width 0.3s;}
#gnb > ul > li > a:hover::after {width: 100%;}
#gnb > ul > li.live > a {background: url(../img/icon/icon-live.png) right center no-repeat, url(../img/icon/icon-live-on.png) right center no-repeat; background-size: auto auto, 0px auto; padding-right: 46px;}
#gnb > ul > li.live > a:hover {background-size: 0px auto, auto auto;}
#gnb > ul > li > ul {position: absolute; top: calc(100% + 1px); left: -160px; width: 1400px; max-width: 100vw; min-width: 1024px; overflow: hidden; height: 0;}
#gnb > ul > li:nth-child(3) > ul {padding-left: 40px;}
#gnb > ul > li:nth-child(4) > ul {padding-left: 100px;}
#gnb > ul > li:nth-child(5) > ul {padding-left: 100px;}
#gnb > ul > li > ul > li {float: left; padding: 30px 0;}
#gnb > ul > li > ul > li + li {margin-left: 5%;}
#gnb > ul > li > ul > li > ul {font-size: 15px; font-weight: 400; margin-top: 25px;}
#gnb > ul > li > ul > li > ul > li + li {margin-top: 15px;}

#header div.search-total {position: absolute; right: 140px; top: 50%; transform: translate(0, -50%);}
#header div.search-total label {position: absolute; left: -9999px;}
#header div.search-total input {font: inherit; font-size: 14px; color: #90a0a6; width: 320px; height: 40px; border: 1px solid transparent; border-radius: 50px; padding: 0 50px 0 20px; background-color: #f2f4f5; outline: none; transition: all 0.3s; appearance: none;}
#header div.search-total input:focus {border-color: #00a8e3; outline: 3px solid rgba(0, 168, 227, 0.2); background-color: #ffffff;}
#header div.search-total input::placeholder {opacity: 0.4;}
#header div.search-total a {position: absolute; right: 15px; top: 50%; transform: translate(0, -50%);}
#header div.search-total ul.data {position: absolute; height: 0; overflow: hidden;}

#header ul.icon-menu {position: absolute;  right: 0; top: 50%; transform: translate(0, -50%);}
#header ul.icon-menu > li {float: left; position: relative;}
#header ul.icon-menu > li + li {margin-left: 15px;}
#header ul.icon-menu > li > a {display: block;}
#header ul.icon-menu > li > a span.badge {position: absolute;  right: -10px; top: -10px; min-width: 20px; height: 20px; border-radius: 100px; background-color: #00a8e3; color: #ffffff; font-size: 12px; text-align: center; line-height: 20px; padding: 0 5px; box-sizing: border-box;}
#header ul.icon-menu > li > ul {position: absolute; left: 50%; top: calc(100% + 10px); transform: translate(-50%, 0); width: 130px; box-sizing: border-box; padding: 25px 15px; text-align: center; background-color: #ffffff; box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.2); border-radius: 3px; font-size: 14px; display: none;}
#header ul.icon-menu > li > ul::before {content: ''; position: absolute; left: 50%; top: -20px; transform: translate(-50%, 0); border: 10px solid transparent; border-bottom-color: rgba(0, 0, 0, 0.1);}
#header ul.icon-menu > li > ul::after {content: ''; position: absolute; left: 50%; top: -18px; transform: translate(-50%, 0); border: 10px solid transparent; border-bottom-color: #ffffff;}
#header ul.icon-menu > li > ul.on {display: block;}
#header ul.icon-menu > li > ul > li + li {margin-top: 18px;}
#header ul.icon-menu > li > ul > li > a {display: block; transition: color 0.3s;}
#header ul.icon-menu > li > ul > li > a:hover {color: #00a8e3;}
#header ul.icon-menu > li > a + div.lang-popup {position: absolute; right: 0; top: calc(100% + 10px); width: 250px; box-sizing: border-box; padding: 25px 15px; background-color: #ffffff; box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.2); border-radius: 3px; font-size: 14px; display: none;}
#header ul.icon-menu > li > a + div.lang-popup.on {display: block;}
#header ul.icon-menu > li > a + div.lang-popup a.close {position: absolute; right: 15px; top: 15px;}
#header ul.icon-menu > li > a + div.lang-popup p.title {font-size: 15px; font-weight: 700; margin-bottom: 20px;}
#header ul.icon-menu > li > a + div.lang-popup ul {max-height: 400px; overflow: auto; font-size: 13px;}
#header ul.icon-menu > li > a + div.lang-popup ul > li + li {margin-top: 20px;}
#header ul.icon-menu > li > a + div.lang-popup ul > li > a {display: block; position: relative; padding-left: 50px; line-height: 21px; transition: color 0.3s;}
#header ul.icon-menu > li > a + div.lang-popup ul > li > a:hover {color: #00a8e3;}
#header ul.icon-menu > li > a + div.lang-popup ul > li img {height: 21px; position: absolute; left: 0; top: 0;}

#search-total {position: fixed; left: 0; top: 0; width: 100%; background-color: #ffffff; padding-top: 50px; padding-bottom: 50px; box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2); z-index: 1000; display: none;}
#search-total > div.container {width: 600px; margin: 0 auto; display: grid; grid-template-columns: calc(50% - 20px) calc(50% - 20px); gap: 40px;}
#search-total > div.container > div {position: relative;}
#search-total div.search {grid-column: 1 / 3;}
#search-total div.search label {position: absolute; left: -9999px;}
#search-total div.search input {font: inherit; font-size: 16px; width: 100%; height: 42px; border: 2px solid #1b2529; border-radius: 50px; padding: 0 100px 0 30px; appearance: none; transition: all 0.3s; outline: none;}
#search-total div.search input:focus {border-color: #00a8e3; outline: 3px solid rgba(0, 168, 227, 0.2);}
#search-total div.search > a {position: absolute; right: 0; top: 50%; transform: translate(0, -50%);}
#search-total div.search > a.delete {right: 60px; width: 20px; display: none;}
#search-total div.search > a.search {right: 20px;}
#search-total div.search ul {position: absolute; left: 20px; top: calc(100% + 40px); width: calc(100% - 40px); max-height: 420px; background-color: #ffffff; z-index: 10; overflow: auto; display: none;}
#search-total div.search ul > li + li {margin-top: 10px;}
#search-total div.search ul > li > a {display: block; line-height: 30px; font-size: 16px;}
#search-total div.search ul > li > a em {color: #00a8e3;}
#search-total div.recent {font-size: 15px; color: #90a0a6; padding-left: 20px;}
#search-total div.recent p.title {font-size: 16px; font-weight: 700; margin-bottom: 30px; color: #1b2529;}
#search-total div.recent {padding-bottom: 40px;}
#search-total div.recent ul > li.no-info {display: none;}
#search-total div.recent ul > li {position: relative; padding-right: 50px;}
#search-total div.recent ul > li + li {margin-top: 15px;}
#search-total div.recent ul > li > a:first-child {display: inline-block; line-height: 20px; max-width: 100%; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
#search-total div.recent ul > li > a:last-child {position: absolute; top: 50%; transform: translate(0, -50%); margin-left: 20px; width: 20px; height: 20px; background: url(../img/icon/icon-close-circle.png) center center no-repeat; background-size: 20px auto; overflow: hidden; text-indent: -999px; vertical-align: middle;}
#search-total div.recent a.delete-all {position: absolute; bottom: 0; color: #bec8cc; font-size: 14px; padding-left: 20px; background: url(../img/icon/icon-trash.png) left center no-repeat; background-size: auto 14px;}
#search-total div.rank {font-size: 16px; padding-right: 20px;}
#search-total div.rank p.title {font-size: 16px; font-weight: 700; margin-bottom: 30px;}
#search-total div.rank ul > li + li {margin-top: 20px;}
#search-total div.rank ul > li > a {display: block; position: relative; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; padding: 0 60px 0 50px;}
#search-total div.rank ul > li > a span.rank {position: absolute; left: 0; width: 20px; text-align: center; font-weight: 700;}
#search-total div.rank ul > li > a span.icon {position: absolute; right: 0; top: 50%; transform: translate(0, -50%); width: 40px; height: 20px; background: url(../img/icon/icon-no-change.png) center center no-repeat; overflow: hidden; text-indent: -999px;}
#search-total div.rank ul > li > a span.icon.up {background-image: url(../img/icon/icon-up.png);}
#search-total div.rank ul > li > a span.icon.down {background-image: url(../img/icon/icon-down.png);}
#search-total div.rank ul > li > a span.icon.new {background-image: url(../img/icon/icon-new.png);}
#search-total a.close {position: absolute; left: 50%; top: 100%; transform: translate(-50%, 0);}

#header div.function {position: fixed; width: 56px; right: 20px; bottom: 50px;}
#header div.function div.consult {position: relative;}
#header div.function div.consult > a {display: block; height: 56px; text-indent: -999px; overflow: hidden; background: url(../img/icon/icon-chat.png) center center no-repeat; background-size: 100% auto;}
#header div.function div.consult > ul > li {position: absolute; right: 0; bottom: 70px; transform: translate(0, 30px); opacity: 0; display: none;}
#header div.function div.consult > ul > li > a {display: block; position: relative; width: 280px; border-radius: 6px; box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3); font-size: 14px; color: #90a0a6; padding: 20px 20px 20px 65px; background: #ffffff url(../img/icon/icon-chat-01.png) 15px center no-repeat;}
#header div.function div.consult > ul > li:nth-child(2) {bottom: 160px;}
#header div.function div.consult > ul > li:nth-child(2) > a {background-image: url(../img/icon/icon-chat-02.png);}
#header div.function div.consult > ul > li:nth-child(3) {bottom: 250px;}
#header div.function div.consult > ul > li:nth-child(3) > a {background-image: url(../img/icon/icon-chat-03.png);}
#header div.function div.consult > ul > li > a em {display: block; font-size: 16px; color: #1b2529; font-weight: 700; margin-bottom: 4px;}
#header div.function div.consult.open > a {background-image: url(../img/icon/icon-chat-close.png);}
#header div.function div.consult.open > ul > li {transform: translate(0, 0); opacity: 1; display: block;}
#header #scroll-top {display: block; width: 56px; margin-top: 10px;}
#header #scroll-top img {width: 100%;}

@media all and (max-width: 1250px) {
  #header div.search-total input {width: 200px;}
}
@media all and (max-width: 1100px) {
  #header div.search-total {display: none;}
}



#footer {border-top: 1px solid #e8ecee; font-size: 12px; color: #90a0a6;}
#footer div.footer-top {border-bottom: 1px solid #e8ecee;}
#footer div.footer-top > div.container {position: relative; max-width: 1400px; margin: 0 auto;}
#footer ul.link {overflow: hidden; line-height: 60px; font-size: 14px;}
#footer ul.link > li {float: left;}
#footer ul.link > li + li::before {content: '·'; margin: 0 5px;}
#footer ul.link > li > a {transition: color 0.3s;}
#footer ul.link > li > a:hover {color: #1b2529;}
#footer ul.link > li em {font-weight: 700;}
#footer div.family-site {position: absolute; right: 0; top: 50%; transform: translate(0, -50%);}
#footer div.family-site > a {display: block; position: relative; width: 160px; line-height: 26px; border: 2px solid transparent; background-color: #f2f4f5; border-radius: 4px; padding: 0 40px 0 10px; transition: all 0.3s;}
#footer div.family-site > a i {position: absolute; right: 10px; top: 50%; transform: translate(0, -50%); transition: all 0.3s;}
#footer div.family-site ul {position: absolute; width: 100%; bottom: calc(100% - 2px); background-color: #ffffff; color: #1b2529; height: 0; overflow: hidden; transition: height 0.3s;}
#footer div.family-site ul > li:first-child {border-top: 2px solid #1b2529; border-top-left-radius: 4px; border-top-right-radius: 4px;}
#footer div.family-site ul > li {border-left: 2px solid #1b2529; border-right: 2px solid #1b2529;}
#footer div.family-site ul > li + li {padding-top: 2px;}
#footer div.family-site ul > li > a {display: block; line-height: 30px; padding: 0 12px; transition: background-color 0.3s;}
#footer div.family-site ul > li > a:hover {background-color: #f2f4f5;}
#footer div.family-site.open > a {background-color: #ffffff; border-color: #1b2529; border-top-left-radius: 0; border-top-right-radius: 0;}
#footer div.family-site.open > a i {color: #1b2529; transform: translate(0, -50%) rotate(180deg);}
#footer div.footer-bottom > div.container {position: relative; max-width: 1400px; margin: 0 auto; padding: 30px 0 50px 0;}
#footer address p + p {margin-top: 6px;}
#footer address p span + span::before {content: '|'; margin: 0 6px; color: #e8ecee; font-size: 8px;}
#footer address a {display: inline-block; vertical-align: middle; border: 1px solid #e8ecee; padding: 2px 5px; border-radius: 4px; margin-left: 10px; transition: border-color 0.3s;}
#footer address a:hover {border-color: #1b2529;}
#footer p.copyright {margin: 15px 0 20px 0; color: #bec8cc; font-size: 13px;}
#footer ul.cert::after {content: ''; display: block; clear: both;}
#footer ul.cert > li {position: relative; display: inline-block; vertical-align: middle; font-size: 14px;}
#footer ul.cert > li + li {margin-left: 15px;}
#footer ul.cert > li > a.desc {display: inline-block; width: 16px; vertical-align: middle; margin-left: 10px;}
#footer ul.cert > li > div.popup {position: absolute; left: calc(100% - 20px); bottom: 100%; width: 300px; padding: 20px 40px 20px 20px; border: 2px solid #1b2529; border-radius: 8px; background-color: #ffffff; color: #1b2529; font-size: 13px; display: none;}
#footer ul.cert > li > div.popup p + p {margin-top: 6px;}
#footer ul.cert > li > div.popup a.close {position: absolute; top: 10px; right: 10px;}
#footer ul.sns-link {position: absolute; right: 0; top: 30px;}
#footer ul.sns-link > li {float: left;}
#footer ul.sns-link > li + li {margin-left: 20px;}
#footer ul.sns-link > li > a {display: block; position: relative; width: 34px; height: 34px; border: 1px solid #e5e9eb; border-radius: 50px; transition: border-color 0.3s;}
#footer ul.sns-link > li > a:hover {border-color: #1b2529;}
#footer ul.sns-link > li > a img {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}

@media all and (max-width: 1450px) {
  #footer div.footer-top > div.container {padding: 0 20px;}
  #footer div.footer-bottom > div.container {padding: 0 20px;}
}




/* main */
body.main #main {padding-bottom: 100px;}

#main-visual {position: relative; max-width: 1880px; height: 700px; margin: 20px auto; border-radius: 8px; overflow: hidden;}
#main-visual ul.slide {position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
#main-visual ul.slide > li {position: absolute; left: 0; top: 0; width: 100%; height: 100%; overflow: hidden; display: none;}
#main-visual ul.slide > li.on {display: block;}
#main-visual ul.slide > li > img {max-width: none; position: absolute; left: 50%; transform: translate(-50%, 0); height: 100%;}
#main-visual ul.slide > li a {position: absolute; left: calc(50% - 600px); top: 50%; transform: translate(0, -50%); font-size: 20px; z-index: 10;}
#main-visual ul.slide > li em {font-size: 50px; font-weight: 700; margin: 20px 0 40px 0; display: block;}
#main-visual ul.slide > li span.link {font-size: 15px; font-weight: 700;}
#main-visual ul.slide > li span.link::after {content: '\f061'; font-family: 'Font Awesome 6 Free'; font-weight: 700; margin-left: 10px;}
#main-visual div.indicator {position: absolute; width: 440px; height: 20px; left: 50%; transform: translate(-50%, 0); bottom: 30px; z-index: 10;}
#main-visual div.indicator span.bar {position: absolute; left: 0; top: 50%; transform: translate(0, -50%); width: calc(100% - 20px); height: 2px; background-color: rgba(255, 255, 255, 0.5); border-radius: 10px; overflow: hidden;}
#main-visual div.indicator span.bar em {position: absolute; left: 0; width: 14.4%; height: 100%; background-color: #1b2529; border-radius: 10px; text-indent: -9999px;}
#main-visual div.indicator a.play {position: absolute; right: 0; top: 0; width: 20px; height: 100%; font-size: 12px;}
#main-visual div.indicator a.play i {position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);}
#main-visual div.indicator a.play i.start {display: block;}
#main-visual div.indicator a.play i.pause {display: none;}
#main-visual div.indicator a.play.on i.start {display: none;}
#main-visual div.indicator a.play.on i.pause {display: block;}

#main-visual ul.indicator-sub {position: absolute; left: 0; bottom: 15px; width: 100%; display: flex; justify-content: center; z-index: 10;}
#main-visual ul.indicator-sub > li + li {margin-left: 10px;}
#main-visual ul.indicator-sub > li > a {display: block; width: 30px; height: 5px; background-color: rgba(255, 255, 255, 0.5); border-radius: 10px; overflow: hidden; text-indent: -9999px; transition: all 0.3s;}
#main-visual ul.indicator-sub > li.on > a {width: 100px; background-color: #1b2529;}

#main-visual p.control {position: absolute; left: 50%; top: 0; transform: translate(-50%, 0); width: 1400px; max-width: 100vw; height: 100%;}
#main-visual p.control a {position: absolute; top: 50%; transform: translate(0, -50%); width: 20px; height: 40px; background: url(../img/icon/icon-left-black.png) center center no-repeat; overflow: hidden; text-indent: -999px;}
#main-visual p.control a.prev {left: 0; background-image: url(../img/icon/icon-left-black.png);}
#main-visual p.control a.next {right: 0; background-image: url(../img/icon/icon-right-black.png);}
#main-visual.white {color: #ffffff;}
#main-visual.white div.indicator span.bar em {background-color: #ffffff;}
#main-visual.white p.control a.prev {left: 0; background-image: url(../img/icon/icon-left-white.png);}
#main-visual.white p.control a.next {right: 0; background-image: url(../img/icon/icon-right-white.png);}

#main-home {max-width: 1880px; margin: 20px auto; padding: 60px 20px; color: #ffffff; font-size: 16px; background: url(../img/main-home-bg.png) center center no-repeat; background-size: cover; overflow: hidden; border-radius: 8px;}
#main-home h3 {font-size: 38px; text-align: center; margin-bottom: 60px;}
#main-home ul {max-width: 1200px; margin: 0 auto; overflow: hidden; text-align: center; display: flex; justify-content: space-between;}
#main-home ul > li > a {display: block;}
#main-home ul > li > a img {height: 54px;}
#main-home ul > li > a em {display: block; margin: 10px 0 5px 0;}
#main-home ul > li > a span {font-size: 14px; opacity: 0.5;}

#main-product {max-width: 1880px; margin: 20px auto; padding: 60px 20px; background-color: #f2f4f5; overflow: hidden; border-radius: 8px;}
#main-product div.condition {font-size: 34px; font-weight: 700; text-align: center;}
#main-product div.condition > div + div {margin-top: 20px;}
#main-product div.condition div.select {display: inline-block; position: relative;}
#main-product div.condition div.select > a {color: #00a8e3; display: inline-block; border-bottom: 2px solid #00a8e3;}
#main-product div.condition div.select > a::after {content: '\f107'; font-family: 'Font Awesome 6 Free'; font-weight: 700; font-size: 20px; margin-left: 10px; position: relative; top: -5px;}
#main-product div.condition div.select ul {position: absolute; left: 0; top: 100%; width: 100%; font-size: 15px; font-weight: 400; background-color: #ffffff; box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3); text-align: left; overflow: hidden; height: 0; transition: height 0.3s; z-index: 10;}
#main-product div.condition div.select ul > li + li {margin-top: 2px;}
#main-product div.condition div.select ul > li > a {display: block; line-height: 40px; padding: 0 15px; transition: background-color 0.3s;}
#main-product div.condition div.select ul > li > a.open {background-color: #f2f4f5;}
#main-product div.condition div.select a.open + ul {height: auto;}
#main-product p.button {text-align: center; margin: 40px 0 60px 0;}
#main-product p.button a {display: inline-block; min-width: 180px; line-height: 54px; background-color: #ffffff; border: 1px solid #e5e9eb; border-radius: 100px; font-size: 16px; font-weight: 700; padding: 0 15px; transition: all 0.3s;}
#main-product p.button a:hover {border-color: #aaaaaa;}
#main-product p.button a.black {background-color: #1b2529; color: #ffffff;}
#main-product p.button a.black:hover {background-color: #000000;}
#main-product p.button a + a {margin-left: 5px;}
#main-product div.banner-slide {position: relative;}
#main-product div.banner-slide > div.container {position: relative; overflow: hidden;}
#main-product div.banner-slide ul.slide {width: 5000px; display: flex;}
#main-product div.banner-slide ul.slide > li {text-align: center; padding: 0 20px;}
#main-product div.banner-slide ul.slide > li img {vertical-align: bottom;}

#main-matching {max-width: 1880px; margin: 20px auto; color: #ffffff; overflow: hidden; border-radius: 8px;}
#main-matching a {display: block; position: relative;}
#main-matching a img {max-width: none; position: relative; left: 50%; transform: translate(-50%, 0);}

#main-story {position: relative; max-width: 1400px; padding: 80px; background-color: #ffffff; margin: 20px auto;}
#main-story h3 {font-size: 38px; line-height: 1.4; position: relative; z-index: 20;}
#main-story h3 span {font-size: 15px; display: block;}
#main-story ul.story {position: relative; height: 560px; padding-left: calc(100% - 340px); margin-left: 60px; margin-top: -30px; display: flex; flex-flow: column nowrap; justify-content: center;}
#main-story ul.story > li {border-bottom: 1px solid #e8ecee;}
#main-story ul.story > li > a {display: block; position: relative; padding: 20px 0 20px 60px; background-color: #ffffff; font-weight: 700;}
#main-story ul.story > li > a span.no {position: absolute; left: 25px; font-size: 18px; color: #bec8cc;}
#main-story ul.story > li > a em {font-size: 24px;}
#main-story ul.story > li > a em span {font-size: 16px; display: block; margin-bottom: 6px;}
#main-story ul.story > li > a::before {content: ''; position: absolute; right: 0; bottom: 0; width: calc(100% + 60px); height: 2px; background-color: #1b2529; opacity: 0; z-index: 10; transition: all 0.3s;}
#main-story ul.story > li > a::after {content: '\f061'; display: inline-block; font-family: 'Font Awesome 6 Free'; font-weight: 700; font-size: 18px; color: #00a8e3; margin-left: 6px; position: relative; top: -2px; transform: translate(-10px, 0); opacity: 0; transition: all 0.3s;}
#main-story ul.story > li.on > a::before {opacity: 1;}
#main-story ul.story > li.on > a::after {transform: translateX(0); opacity: 1;}
#main-story ul.story > li::before {content: ''; position: absolute; left: 0; top: 0; width: calc(100% - 320px); height: 100%; border-radius: 8px; overflow: hidden; background: url(../img/main-story-01.jpg) center center no-repeat; background-size: cover; opacity: 0; transition: all 0.3s;}
#main-story ul.story > li:nth-child(2)::before {background-image: url(../img/main-story-02.jpg);}
#main-story ul.story > li:nth-child(3)::before {background-image: url(../img/main-story-03.jpg);}
#main-story ul.story > li:nth-child(4)::before {background-image: url(../img/main-story-04.jpg);}
#main-story ul.story > li.on::before {opacity: 1; z-index: 10;}

#main-category {max-width: 1400px; margin: 20px auto; padding: 60px 0;}
#main-category h3 {font-size: 38px; line-height: 1.4; position: relative; text-align: center; margin-bottom: 40px;}
#main-category h3 span {font-size: 15px; display: block;}
#main-category ul.tab {text-align: center; margin-bottom: 30px;}
#main-category ul.tab > li {display: inline-block;}
#main-category ul.tab > li + li {margin-left: 10px;}
#main-category ul.tab > li > a {display: block; position: relative; line-height: 50px; overflow: hidden; padding: 0 20px; border-radius: 100px; background-color: #f2f4f5; color: #90a0a6; transition: all 0.3s;}
#main-category ul.tab > li > a em {position: relative; z-index: 10;}
#main-category ul.tab > li > a em span {position: absolute; left: -9999px;}
#main-category ul.tab > li > a::before {content: ''; position: absolute; left: 50%; top: 0; transform: translate(-50%, 0); width: 0; height: 100%; border-radius: 100px; background: url(../img/main-category-tab-01.jpg) center center no-repeat; background-size: cover; opacity: 0; transition: all 0.3s;}
#main-category ul.tab > li:nth-child(2) > a::before {background-image: url(../img/main-category-tab-02.jpg);}
#main-category ul.tab > li:nth-child(3) > a::before {background-image: url(../img/main-category-tab-03.jpg);}
#main-category ul.tab > li:nth-child(4) > a::before {background-image: url(../img/main-category-tab-04.jpg);}
#main-category ul.tab > li.on > a,
#main-category ul.tab > li > a:hover {color: #ffffff;}
#main-category ul.tab > li.on > a::before,
#main-category ul.tab > li > a:hover::before {width: 100%; opacity: 1;}
#main-category > section {display: none;}
#main-category > section.on {display: block;}
#main-category > section > ul {display: grid; grid-template-columns: calc(50% - 40px) 25% 25%; gap: 20px;}
#main-category > section > ul > li {position: relative;}
#main-category > section > ul > li:first-child {grid-row: 1 / 3;}
#main-category > section > ul > li > a {display: block; height: 100%; position: relative; background-color: #f2f4f5; border-radius: 8px; padding: 20px 30px; font-size: 14px;}
#main-category > section > ul > li > a span.no {position: absolute; left: 30px; top: 20px; font-size: 22px; color: #90a0a6;}
#main-category > section > ul > li > a span.no span {font-size: 12px; display: block;}
#main-category > section > ul > li > a > img {display: block; width: 80%; margin: 0 auto;}
#main-category > section > ul > li > a > em {display: block; font-size: 17px; font-weight: 700; line-height: 1.3em; height: 2.6em; overflow: hidden; margin-bottom: 12px;}
#main-category > section > ul > li > a > ul > li {position: relative;}
#main-category > section > ul > li > a > ul > li + li {margin-top: 8px;}
#main-category > section > ul > li > a > ul > li em {position: absolute; right: 0;}
#main-category > section > ul > li > a > ul > li em.month {color: #00a8e3; font-size: 15px;}
#main-category > section > ul > li:first-child > a {padding: 50px;}
#main-category > section > ul > li:first-child > a span.no {font-size: 34px; color: #00a8e3; position: static;}
#main-category > section > ul > li:first-child > a span.no span {font-size: 16px;}
#main-category > section > ul > li:first-child > a > img {position: absolute; right: 0; bottom: 0;}
#main-category > section > ul > li:first-child > a > em {font-size: 28px; margin: 20px 0 20px;}
#main-category > section > ul > li:first-child > a > ul {width: 200px;}

#main-noble {max-width: 1400px; margin: 20px auto; padding: 60px 20px 40px 20px; border-radius: 8px; background: url(../img/main-noble-bg.jpg) center center no-repeat; background-size: cover; text-align: center;}
#main-noble h3 {font-size: 38px; line-height: 1.4; text-align: center; margin-bottom: 20px; color: #ffffff;}
#main-noble h3 span {font-size: 15px; display: block;}
#main-noble h3 + p {color: #ffffff; font-size: 18px; margin-bottom: 20px;}
#main-noble h3 + p + a {display: inline-block; color: #00a8e3; font-size: 15px; font-weight: 700;}
#main-noble h3 + p + a::after {content: '\f061'; font-family: 'Font Awesome 6 Free'; font-weight: 700; margin-left: 5px;}
#main-noble div.banner-slide {max-width: 1200px; margin: 400px auto 0 auto; position: relative; text-align: left;}
#main-noble div.banner-slide > div.container {overflow: hidden;}
#main-noble div.banner-slide ul.slide {position: relative; width: calc(25% - 6px); height: 94px;}
#main-noble div.banner-slide ul.slide > li {position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
#main-noble div.banner-slide ul.slide > li:nth-child(1) {left: 0;}
#main-noble div.banner-slide ul.slide > li:nth-child(2) {left: calc(100% + 8px);}
#main-noble div.banner-slide ul.slide > li:nth-child(3) {left: calc(200% + 16px);}
#main-noble div.banner-slide ul.slide > li:nth-child(4) {left: calc(300% + 24px);}
#main-noble div.banner-slide ul.slide > li > a {display: block; position: relative; height: 100%; background-color: #ffffff; border-radius: 4px; overflow: hidden;}
#main-noble div.banner-slide ul.slide > li > a img {position: absolute; left: 10px; top: 50%; transform: translate(0, -50%); width: 74px;}
#main-noble div.banner-slide ul.slide > li > a em {position: absolute; left: 100px; top: 50%; transform: translate(0, -50%); width: calc(100% - 110px); font-size: 15px; font-weight: 700; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}
#main-noble div.banner-slide p.control a {position: absolute; top: 50%; transform: translate(0, -50%); display: none;}
#main-noble div.banner-slide:hover p.control a {display: block;}
#main-noble div.banner-slide p.control a.prev {left: 0; transform: translate(-50%, -50%);}
#main-noble div.banner-slide p.control a.next {right: 0; transform: translate(50%, -50%);}




/* sub (common) */
#sub-header {max-width: 1400px; margin: 0 auto; padding-top: 15px; margin-bottom: 30px;}
#bread-crumb {display: flex; font-size: 12px; color: #90a0a6;}
#bread-crumb > li + li::before {content: '\f105'; font-family: 'Font Awesome 6 Free'; font-weight: 700;  margin: 0 10px;}
#bread-crumb > li > a {transition: color 0.3s;}
#bread-crumb > li > a:hover {color: #1b2529;}
#bread-crumb > li > em {color: #00a8e3;}
#lnb {max-width: 1200px; margin: 0 auto; display: flex; justify-content: center; font-size: 18px; color: #90a0a6; border-bottom: 1px solid #f2f4f5; margin-top: 40px;}
#lnb > li + li {margin-left: 50px;}
#lnb > li > a {position: relative; display: block; line-height: 60px; transition: all 0.3s;}
#lnb > li > a::before {content: ''; position: absolute; left: 50%; bottom: 0; transform: translate(-50%, 0); width: 0; height: 2px; background-color: #1b2529; transition: width 0.3s;}
#lnb > li.on > a,
#lnb > li > a:hover {color: #1b2529; font-weight: 700;}
#lnb > li.on > a::before,
#lnb > li > a:hover::before {width: 100%;}

ul.page-tab {display: flex; justify-content: center; margin-bottom: 40px; font-size: 14px;}
ul.page-tab > li + li {margin-left: 10px;}
ul.page-tab > li > a {display: block; position: relative; line-height: 48px; padding: 0 20px; background-color: #f2f4f5; color: #90a0a6; border-radius: 100px; transition: all 0.3s;}
ul.page-tab > li > a::before {content: ''; position: absolute; left: 50%; top: 0; transform: translate(-50%, 0); width: 0; height: 100%; border-radius: 100px; background-color: #1e282c; transition: width 0.3s;}
ul.page-tab > li > a em {position: relative;}
ul.page-tab > li.on > a,
ul.page-tab > li > a:hover {color: #ffffff; font-weight: 700;}
ul.page-tab > li.on > a::before,
ul.page-tab > li > a:hover::before {width: 100%;}

body.sub #main {min-height: 500px; padding-bottom: 100px;}
body.sub #main > section.page {max-width: 1200px; margin: 0 auto; position: relative; display: none;}
body.sub #main > section.page.on {display: block; margin-top: 100px;}
body.sub #main > ul.page-tab + section.page.on {margin-top: 40px;}
body.sub #main > section.page h3 {font-size: 24px; margin-bottom: 40px;}



/* sub (page) */

















/* module */
.custom-scroll {overflow: auto; scrollbar-width: thin; scrollbar-color: #e0e0e0; -ms-overflow-style: none;}
.custom-scroll::-webkit-scrollbar {width: 3px;}
.custom-scroll::-webkit-scrollbar-thumb {background-color: transparent; border-radius: 10px; background-color: rgba(0, 0, 0, 0.5);}
.custom-scroll:hover::-webkit-scrollbar-thumb {background-color: rgba(0, 0, 0, 0.8);}
.custom-scroll::-webkit-scrollbar-track {background-color: rgba(0, 0, 0, 0.05);}

ul.wide-card {display: grid; grid-template-columns: calc(50% - 20px) calc(50% - 20px); gap: 45px 40px;}
ul.wide-card > li {text-align: center;}
ul.wide-card > li > a {display: block;}
ul.wide-card > li > a > span.thumb {display: block; height: 320px; border: 1px solid #f2f4f5; overflow: hidden; background: #ffffff url(../img/story/bts-pr-01.jpg) center center no-repeat; background-size: cover; text-indent: -999999px; overflow: hidden;}
ul.wide-card > li > a > span.category {display: inline-block; line-height: 24px; font-size: 12px; font-weight: 700; background-color: #1b2529; color: #ffffff; padding: 0 15px; border-radius: 50px; transform: translate(0, -50%);}
ul.wide-card > li > a > em {display: block; line-height: 1.6em; height: 3.2em; overflow: hidden; font-size: 26px; font-weight: 700; margin-top: 15px;}
ul.wide-card + div.button-box {margin-top: 60px;}
ul.wide-card.col-3 {grid-template-columns: calc(33.33% - 20px) calc(33.33% - 20px) calc(33.33% - 20px); gap: 45px 30px;}
ul.wide-card.col-3  > li > a > em {font-size: 22px;}

div.button-box {text-align: center;}
div.button-box a.more {display: inline-block; position: relative; min-width: 180px; height: 54px; line-height: 52px; border: 1px solid #f2f4f5; border-radius: 4px; background-color: #ffffff; color: #1b2529; font-size: 16px; font-weight: 700; text-align: center; padding: 0 15px; vertical-align: center; transition: border-color 0.3s;}
div.button-box a.more:hover {border-color: #aaaaaa;}
div.button-box a.more::before {content: ''; position: absolute; width: 2px; height: 14px; left: calc(50% + 27px); top: 50%; transform: translate(-50%, -50%); background-color: #1b2529; animation: btn-more-v 3s ease 0.2s infinite normal backwards;}
div.button-box a.more::after {content: ''; display: inline-block; position: relative; width: 14px; height: 2px; background-color: #1b2529; vertical-align: middle; margin-left: 10px; top: -2px; animation: btn-more-h 3s ease 0s infinite normal backwards;}

@keyframes btn-more-h {
  0% {transform: translate(-10px, 0); opacity: 0;}
  25% {transform: translate(0, 0); opacity: 1;}
  75% {transform: translate(0, 0); opacity: 1;}
  100% {transform: translate(10px, 0); opacity: 0;}
}
@keyframes btn-more-v {
  0% {transform: translate(-50%, calc(-50% - 10px)); opacity: 0;}
  25% {transform: translate(-50%, -50%); opacity: 1;}
  75% {transform: translate(-50%, -50%); opacity: 1;}
  100% {transform: translate(-50%, calc(-50% + 10px)); opacity: 0;}
}


div.review-list {position: relative;}
div.review-list > div.info {display: flex; font-size: 15px; margin-bottom: 20px;}
div.review-list > div.info > div {width: 50%; position: relative;}
div.review-list > div.info > div:first-child em {color: #00a8e3; margin-right: 5px;}
div.review-list > div.info > div:last-child {text-align: right;}
div.review-list > div.info > div:last-child a i {margin-left: 6px; font-size: 13px;}
div.review-list > div.info > div:last-child ul {position: absolute; top: calc(100% + 10px); right: 0; border: 2px solid #1b2529; border-radius: 8px; padding: 10px 0; background-color: #ffffff; z-index: 10; text-align: left; display: none;}
div.review-list > div.info > div:last-child ul > li + li {margin-top: 3px;}
div.review-list > div.info > div:last-child ul > li > a {display: block; line-height: 30px; padding: 0 20px;}
div.review-list ul.review {border-top: 1px solid #f2f4f5;}
div.review-list ul.review > li {position: relative; padding: 40px 0; border-bottom: 1px solid #f2f4f5; display: flex; flex-direction: row-reverse;}
div.review-list ul.review div.thumb {width: 390px;}
div.review-list ul.review div.thumb a {display: block; height: 330px; overflow: hidden; border-radius: 8px; position: relative; top: 50%; transform: translate(0, -50%); background: #f2f4f5 url(../img/story/best-img-01.png) center center no-repeat; background-size: cover; text-indent: -9999px;}
div.review-list ul.review div.content {width: calc(100% - 430px); margin-right: 40px;}
div.review-list ul.review div.content span.category {display: inline-block; padding: 3px 10px; font-size: 14px; font-weight: 700; background-color: #1b2529; color: #ffffff; border-radius: 4px;}
div.review-list ul.review div.content a.sns {display: block;}
div.review-list ul.review div.content a.sns em.title {display: block; font-size: 30px; font-weight: 700; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; margin-top: 15px;}
div.review-list ul.review div.content a.sns p.desc {overflow: hidden; font-size: 15px; color: #90a0a6; line-height: 1.6em; max-height: 3.2em; margin: 15px 0;}
div.review-list ul.review p.info {font-size: 15px; color: #90a0a6;}
div.review-list ul.review p.info > * {vertical-align: middle;}
div.review-list ul.review p.info > * + * {margin-left: 20px;}
div.review-list ul.review span.star {display: inline-block; position: relative; width: 90px; height: 18px; overflow: hidden; text-indent: -999px; background: #ffffff url(../img/icon/icon-star.png) left center repeat-x; background-size: 20% auto; vertical-align: middle;}
div.review-list ul.review span.star::after {content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: #ffffff url(../img/icon/icon-star-on.png) left center repeat-x;}
div.review-list ul.review span.star[data-star="5"]::after {width: 100%;}
div.review-list ul.review span.star[data-star="4.5"]::after {width: 90%;}
div.review-list ul.review span.star[data-star="4"]::after {width: 80%;}
div.review-list ul.review span.star[data-star="3.5"]::after {width: 70%;}
div.review-list ul.review span.star[data-star="3"]::after {width: 60%;}
div.review-list ul.review span.star[data-star="2.5"]::after {width: 50%;}
div.review-list ul.review span.star[data-star="2"]::after {width: 40%;}
div.review-list ul.review span.star[data-star="1.5"]::after {width: 30%;}
div.review-list ul.review span.star[data-star="1"]::after {width: 20%;}
div.review-list ul.review span.star[data-star="0.5"]::after {width: 10%;}
div.review-list ul.review span.star[data-star="0"]::after {width: 0%;}
div.review-list ul.review span.author {font-weight: 700;}
div.review-list ul.review span.tag {font-size: 14px; color: #bec8cc; display: inline-flex;}
div.review-list ul.review span.tag > span + span::before {content: '·';}
div.review-list ul.review span.like::before {content: '\f164'; font-family: 'Font Awesome 6 Free'; font-size: 18px; margin-right: 5px;}
div.review-list ul.review span.like span {position: absolute; left: -9999px;}
div.review-list ul.review a.product {display: inline-flex; align-items: center; margin-top: 30px;}
div.review-list ul.review a.product span.thumb {width: 100px; height: 100px; border-radius: 4px; overflow: hidden; margin-right: 20px; background: #f2f4f5 url(../img/story/best-thumb-0.png) center center no-repeat; background-size: cover; text-indent: -9999px;}
div.review-list ul.review a.product span.title {font-size: 14px; color: #90a0a6;}
div.review-list ul.review a.product span.title em {display: block; margin-top: 6px; font-size: 16px; color: #1b2529; font-weight: 700;}
div.review-list + div.button-box {margin-top: 60px;}





